<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>预约记录</title>
  <link rel="styleSheet" href="/public/css/bootstrap.min.css">
  <link rel="styleSheet" href="/public/css/common.css">
  <link rel="styleSheet" href="/public/css/myReservation.css">
</head>

<body>
  <div class="container">
    <p class='reservation-title current-title'>当前预约</p>
    <%if (!currentReservations.length){%>
    <div class="empty-wrapper">
      <span>暂无预约记录...</span>
    </div>
    <%}else{%>
      <% for(var i = 0; i < currentReservations.length; i++){%>
        <div class="identity-list-wrapper current-list">
        <div class="left-icon-wrapper">
          <div class="left-bottom-inner-radius"></div>
          <div class="right-bottom-inner-radius"></div>
          <i class="material-icons left-icon">event</i>
          <input class="calendar-selector" readonly type="text" name="dateTime" value="<%= currentReservations[i].timeStr%>"/>
        </div>
        <div id="subIdentities">
        <%for(var j = 0; j < currentReservations[i].reservers.length; j++){%>
          <div class="identity">
            <i class="material-icons float-left">person copy</i>
            <div class="identity-wrapper">
              <div class="identity-full-name">
                <%= currentReservations[i].reservers[j].bk_visitor_identity.full_name%>
              </div>
              <div class="identity-number">
                <%= currentReservations[i].reservers[j].bk_visitor_identity.identity_card%>
              </div>
            </div>
            <i class="material-icons float-right cancel-icon" data-target="<%= currentReservations[i].id%>" id="<%= currentReservations[i].reservers[j].identity_id%>">cancel_copy</i>
          </div>
        <%}%>
        </div>
        <div class="add-wrapper cancel-wrapper" id="<%= currentReservations[i].id%>">
          <div class="left-top-inner-radius"></div>
          <div class="right-top-inner-radius"></div>
          <i class="material-icons left-icon cancel-wrapper" id="<%= currentReservations[i].id%>">clear</i>
          <span class="add-visitor cancel-wrapper" id="<%= currentReservations[i].id%>">取消预约</span>
        </div>
      </div>
      <%}%>
    <%}%>
      <!--历史预约-->
    <p class='reservation-title history-title'>历史预约</p>
    <%if (!historyReservations.length){%>
    <div class="empty-wrapper history-empty">
      <span>暂无历史记录...</span>
    </div>
    <%}else{%>
      <%for (var m = 0; m < historyReservations.length; m++){%>
      <div class="identity-list-wrapper history-wrapper">
        <div class="left-icon-wrapper history-border">
          <i class="material-icons left-icon">event</i>
          <input class="calendar-selector history-time" readonly type="text" name="dateTime" value="<%= historyReservations[m].timeStr%>"/>
        </div>
        <div id="subIdentities">
        <%for (var n = historyReservations[m].reservers.length-1; n>=0; n--) {%>
          <div class="identity history-border">
            <i class="material-icons float-left">person copy</i>
            <div class="identity-wrapper">
              <div class="identity-full-name history-name">
                <%= historyReservations[m].reservers[n].bk_visitor_identity.full_name%>
              </div>
              <div class="identity-number history-number">
                <%= historyReservations[m].reservers[n].bk_visitor_identity.identity_card%>
              </div>
            </div>
          </div>
        <%}%>
        </div>
      </div>
      <%}%>
    <%}%>
  </div>
  <script type="text/javascript" src="/public/js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/public/js/cleanSession.js"></script>
  <script type="text/javascript" src="/public/js/myReservation.js"></script>
</body>

</html>